
    
    .input label {
        display: block;
    }
        .input div {
            position: relative;
        }
            .input div img {
                position: absolute;
                top: 0;
                left: 0.6rem;
                transform: translate(0, calc(50% + 0.1rem));
            }
            .input div input {
                margin-block-start: 0.5rem;
                display: block;
                width: calc(100% - 1rem);
                padding: 0.5rem;
                border-width: 0.1rem;
                border-radius: 0.3rem;
                border-style: solid;
                font-family: 'Space Mono', sans-serif;
            }